@import "./estilos/cabecalho.css";
@import "./estilos/banner.css";
@import "./estilos/carrossel.css";
@import "./estilos/topicos.css";
@import "./estilos/contato.css";
@import "./estilos/rodape.css";


:root
{
    --background-principal: #EBECEE;
    --background-secundario: #FFFFFF;
    --background-rodape: #F9F9F9;
    --cor-de-destaque: #EB9B00;
    --degrade: linear-gradient(to right, #002F52, #326589);
    --cor-fonte-principal: #002f52;   
    --cor-fonte-cabecalho: #000000;
    --cor-fonte-rodape: #474646;
    --cor-titulo-rodape: #858585;
    --fonte-principal: "Poppins", sans-serif;
    --fonte-secundaria: "Josefin Sans", sans-serif;
}

body
{
    background-color: var(--background-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

