@import "./estilos/cabecalho.css";
@import "./estilos/banner.css";
@import "./estilos/carrossel.css";

:root
{
    --background-principal: #EBECEE;
    --background-secundario: #FFFFFF;
    --cor-de-destaque: #EB9B00;
    --degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-cabecalho: #000000;
    --fonte-principal: "Poppins", sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.projeto
{
    background-color: var(--background-principal);
    font-family: var(--fonte-principal);
}