.cabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;     
    background-color: var(--background-secundario);    
}

.cabecalho__menu-hamburguer
{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagens/menu_fechado.svg);
    padding: 1rem 1.2rem;    
    width: 24px;
    height: 24px;
}

.container
{
    display: flex;
    align-items: center;
}

.container__imagem
{
    padding: 0 0.5em;
    height: 42px;
}

.lista-menu
{
    display: none;
    position: absolute;
    top: 100%;    
    width: 60vw;    
}

.container__botao
{
    display: none;
}

.container__botao:checked ~ .lista-menu
{
    display: block;
}


.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer
{
    background-image: url("../imagens/menu_aberto.png");
}

.container__botao:checked ~ .container__rotulo
{
    background: var(--degrade);
}

.lista-menu__titulo,
.lista-menu__item
{
    padding: 1em;
    background-color: var(--background-secundario);
}

.lista-menu__titulo
{
    color: var(--cor-de-destaque);
    font-weight: 700;
}

.lista-menu__link
{
    background: var(--degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.cabecalho__titulo-tablet,
.opcoes,
.container__texto
{
    display: none;
}

/* versão tablet */
@media screen and (min-width: 1024px)
{
    .cabecalho
    {
        padding: 0 5rem;
    }

    .cabecalho__titulo-tablet
    {
        display: block;
        font-size: 30px;
    }

    .cabelho__titulo-tablet
    {
        font-family: var(--fonte-secundaria);
    }

    .negrito
    {
        font-weight: 700;
    }

    .opcoes
    {
        display: flex;
    }

    .opcoes__item
    {
        padding: 2em 1em;
        text-transform: uppercase;
    }
    
    .opcoes__link
    {
        color: var(--cor-fonte-cabecalho);
    }
    
    .none__tablet,
    .cabecalho__menu-hamburguer, 
    .opcoes__botao
    {
        display: none;
    }
    
    .opcoes__botao:checked ~ .lista-menu-tablet
    {
        display: block;
        width: auto;        
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item
    {
        background: var(--degrade);
        color: var(--background-secundario);
    }

    .lista-menu__item:hover
    {
        background: var(--degrade);
        color: var(--background-secundario);
    }

    .lista-menu__item:hover > .lista-menu__link
    {
        -webkit-text-fill-color: var(--background-secundario);
    }
    
    .lista-menu__link
    {
        padding: 0 2rem;
    }
    

    .lista-menu-tablet
    {
        display: none;
        position: absolute;
        top: 100%;   
        width: 60vw;    
    }

    
}

/* versã0 desktop */
@media screen and (min-width: 1728px)
{
    .container__link
    {
        display: flex;
        align-items: center;
    }

    .container__texto
    {
        display: block;
        color: var(--cor-fonte-cabecalho);
        font-size: 20px;        
    }

    .container__imagem
    {
        padding: 1rem 0.5rem;
    }

    .opcoes
    {
        margin-right: auto;       
    }
}

