.carrossel__titulo
{
    padding: 1.6rem 0 0.8rem 0;
    background-color: var(--background-secundario);
    color: var(--cor-de-destaque);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

/* Swiper JS */
.swiper-pagination
{
    position: initial;
    margin: 0.5rem 0;
}

.swiper-slide img
{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next
{
    display: none;
}

/* Cartão */
.cartao
{
    margin: 1em;
    padding: 1.5rem 1em;
    background-color: var(--background-secundario);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;   
}

.cartao__botoes
{
    margin-top: 2rem;
}

.cartao__descricao,
.cartao__botoes
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

.descricao__estrelas
{
    margin-bottom: 0.5rem;
}

.descricao__titulo
{
    color: var(--cor-de-destaque);
    font-weight: 700;    
}

.descricao__titulo-livro
{
    color: var(cor-fonte-principal);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;    
}

.descricao__texto
{
    font-size: 14px;
}

.botoes
{
    display: flex;
}

.botoes__item
{
    margin: 0 0.5em;
}

.botoes__ancora
{
    padding: 1em 2.2em;
    background-color: var(--cor-de-destaque);
    text-align: center;
    color: var(--background-secundario);
    font-weight: 700;
}

.botoes__ancora:hover,
.botoes__ancora:checked
{
    background-color: transparent;
    color: var(--cor-de-destaque);
    border: 1px solid var(--cor-de-destaque);
}

@media screen and (min-width: 1024px)
{
    .carrossel__titulo
    {
        font-size: 26px;
        padding: 3rem 0 1.2rem 0;
    }

    .swiper
    {
        width: 60%;
    }

    .swiper-pagination
    {
        margin: 1.5em 0 3em 0;
    }

    .swiper-button-prev,
    .swiper-button-next
    {
        display: block;
        top: 60%;        
    }

    .cartao
    {
        width: 60%;
        margin: 3rem auto;
    }
}

/* versão desktop */
@media screen and (min-width: 1728px)
{
    .banner
    {
        padding: 6em 0;
    }
    
    .banner__texto
    {
        margin: 1em auto 1.5em auto;
    }

    .banner__pesquisa
    {
        width: 35%;
    }

    .banner__pesquisa::placeholder
    {
        background-position: 10em;
    }
}

/* versão desktop */
@media screen and (min-width: 1728px)
{
    .carrossel__container
    {
        display: flex;
        align-items: center;        
        margin: 0 10% 3em 10%;
        gap: 5rem;
    }

    .swiper-pagination
    {
        margin: 1em 0;
    }

    .cartao
    {
        margin: 2rem auto 0 auto;
    }
    
    .cartao__botoes
    {
        margin-top: 0.5rem;
    }

    .descricao__titulo
    {
        font-size: 32px;
        line-height: 2.5rem;
    }

    .descricao__texto
    {
        font-size: 16px;
    }
}
