.topicos
{
    background: var(--degrade);
    text-align: center;
    padding-bottom: 1rem;
}

.topicos__faixa
{
    background-color: var(--background-secundario);
    height: 1rem;
}

.topicos__titulo
{
    margin: 2rem 0 1.5rem 0;
    color: var(--background-secundario);
    font-weight: 300;
    text-transform: uppercase;    
}

.topicos__lista
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista--item
{
    margin: 1.2em 0.5em;
}

.topicos__lista--item-link
{
    padding: 1em;
    background-color: var(--cor-de-destaque);    
    color: var(--background-secundario);
    font-size: 14px;
    font-weight: 700;
}

.topicos__lista--item-link:hover
{
    background-color: transparent;
    color: var(--cor-de-destaque);
    border: 1px solid var(--cor-de-destaque);
}

/* versão tablet */
@media screen and (min-width: 1024px)
{
    .topicos__faixa
    {
        display: none;
    }

    .topicos__lista
    {
        width: 80%;
        margin: 0 auto;
    }

    .topicos__titulo
    {
        padding: 2.5rem 0 1rem 0;
    }

    .topicos__titulo,
    .topicos__lista--item-link
    {
        font-size: 24px;
    }

    .topicos__lista--item
    {
        padding: 1rem 0;
    }
}

/* versão desktop */
@media screen and (min-width: 1728px)
{
    .topicos__lista
    {
        width: 60%;
    }

    .topicos__lista--item
    {
        padding: 2rem 0.5rem;
    }

    .topicos__lista--item-link
    {
        padding: 2rem 3rem;
    }
}