.topicos__container
{
    background-color: var(--background-secundario);
    height: 1rem;
}

.topicos
{
    background: var(--degrade);
    text-align: center;     
}

.topicos__titulo
{
    padding: 2rem 0 1rem 0;
    color: var(--background-secundario);
    font-weight: 300;
    text-transform: uppercase;
}

.topicos__lista
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.topicos__lista--item
{
    margin: 2em 0.5em;
}
.topicos__lista--item-link
{
    padding: 1.5em;
    background-color: var(--cor-de-destaque);
    color: var(--background-secundario);
    font-size: 14px;
    font-weight: 700;

}
